.latest {
  background-color: #ffffff6c;
}

.latest h2 {
  color: rgb(0, 0, 0);
  font-size: 90px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.latest p {
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.latest h4{
  color: rgb(0, 0, 0);
}
.latest button {

  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: black;
  transition: all .3s ease-out;
}

.latest button:hover {
  background-position: left bottom;
  color: white;
}

.trending
{
  background-color: #acbcb2cd;
}
.trending h2{
  color: rgb(97, 24, 24);
}
.image-caption
{
  position: absolute;
}
/* Latest.css */

.image-container {
  overflow: hidden;
  position: relative;
}

.zoom-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover .zoom-image {
  transform: scale(1.2); /* Adjust the scale factor for the desired zoom level */
}



